.btn { /*Remove rounded corners*/
    border-radius: 0;
}
.form-control { /*Remove rounded corners*/
    border-radius: 0;
}
#five-day-div { /*Hide 5-day forecast until click*/
    display: none;
}
.jumbotron { /*Background color and text*/
    background-color: #d1e2e3;
    color: #505050;
}
.instructions { /*Align center*/
    text-align: center;
}
p.instructions{ /*Instructions*/
    margin-top: 20px;
    line-height: 40px;
}
#location-weather-view{ /*Current weather display*/
    text-align: center;
}
.wd-title{
    font-family: all-round-gothic, sans-serif;
    font-weight: 200;
    font-style: normal;
}